<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker
    *ngFor="let p of parkings; let i = index"
    [latitude]="p.latLngX"
    [longitude]="p.latLngY"
    [label]="p.name"
  >
    <agm-info-window>
      <p>Nazwa: {{ p.name }}</p>
      <p>ID: {{ p.id }}</p>
      <p>Status: {{ p.status }}</p>
      <p>Liczba miejsc: {{ p.parkingSpaces }}</p>
      <p>Wolnych: {{ p.freeSpace }}</p>
      <button mat-raised-button color="primary" (click)="deleteParking(p.id)">
        Usuń
      </button>
    </agm-info-window>
  </agm-marker>

  <agm-marker
    *ngFor="let c of cars; let i = index"
    [latitude]="c.latLngX"
    [longitude]="c.latLngY"
    [label]="c.registrationNumber"
    [iconUrl]="'http://maps.google.com/mapfiles/arrow.png'"
  >
    <agm-info-window>
      <p>Nr Rejestracyjny: {{ c.registrationNumber }}</p>
      <p>Model: {{ c.model }}</p>
      <p>ID: {{ c.id }}</p>
      <p>Status: {{ c.status }}</p>
      <p>Data kupna: {{ c.purchaseDate | date:short}}</p>
      <button mat-raised-button color="primary" (click)="deleteCar(c.id)">
        Usuń
      </button>
    </agm-info-window>
  </agm-marker>
</agm-map>
