<agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)">
  <agm-marker
    [latitude]="newParkingMarker.lat"
    [longitude]="newParkingMarker.lng"
    [label]="addParkingForm.value.name"
  >
  </agm-marker>
</agm-map>

<mat-card>
  <mat-card-header>
    <mat-card-title>Wypożyczalnia samochodów</mat-card-title>
    <mat-card-subtitle>Dodaj parking</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="addParkingForm" (ngSubmit)="onSubmit()">
      <table class="login-form">
        <tr>
          <td>
            <mat-form-field class="login-form">
              <input
                matInput
                id="name"
                placeholder="Nazwa"
                formControlName="name"
              />
              <mat-error>
                <span
                  *ngIf="isSubmitted && f.name.errors && f.name.errors.required"
                  >Name is required</span
                >
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="login-form">
              <input
                matInput
                id="parkingSpaces"
                placeholder="Liczba miejsc"
                formControlName="parkingSpaces"
              />
              <mat-error>
                <span
                  *ngIf="
                    isSubmitted &&
                    f.parkingSpaces.errors &&
                    f.parkingSpaces.errors.required
                  "
                  >parking spaces is required</span
                >
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <button mat-raised-button color="accent">Dodaj</button>
      </table>
    </form>
    <mat-spinner [style.display]="isLoading ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
