<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/car-rent-admin" (click)="onSidenavClose()">
    <mat-icon>map</mat-icon>
    <span class="nav-caption">Parkingi i samochody </span>
  </a>
  <a mat-list-item routerLink="/parkings" (click)="onSidenavClose()">
    <mat-icon>local_parking</mat-icon>
    <span class="nav-caption">Parkingi </span>
  </a>
  <a mat-list-item routerLink="/add-car" (click)="onSidenavClose()">
    <mat-icon>local_taxi</mat-icon>
    <span class="nav-caption">Dodaj samochód </span>
  </a>
  <a mat-list-item routerLink="/add-parking" (click)="onSidenavClose()">
    <mat-icon>local_parking</mat-icon>
    <span class="nav-caption">Dodaj Parking </span>
  </a>
  <a mat-list-item routerLink="/crashes" (click)="onSidenavClose()">
    <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Szkody</span>
  </a>
  <a mat-list-item (click)="logout()">
    <mat-icon>logout</mat-icon><span class="nav-caption">Wyloguj</span>
  </a>
</mat-nav-list>

<!-- //abcd -->