<agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)">
  <agm-marker
    [latitude]="newCarMarker.lat"
    [longitude]="newCarMarker.lng"
    [label]="addCarForm.value.registrationNumber"
    [iconUrl]="'http://maps.google.com/mapfiles/arrow.png'"
  >
  </agm-marker>
</agm-map>

<mat-card>
  <mat-card-header>
    <mat-card-title>Wypożyczalnia samochodów</mat-card-title>
    <mat-card-subtitle>Dodaj samochód</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="addCarForm" (ngSubmit)="onSubmit()">
      <table class="login-form">
        <tr>
          <td>
            <mat-form-field class="login-form">
              <input
                matInput
                id="model"
                placeholder="Model"
                formControlName="model"
              />
              <mat-error>
                <span
                  *ngIf="
                    isSubmitted && f.model.errors && f.model.errors.required
                  "
                  >Model is required</span
                >
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="login-form">
              <input
                matInput
                id="registrationNumber"
                placeholder="Numer rejestracyjny"
                formControlName="registrationNumber"
              />
              <mat-error>
                <span
                  *ngIf="
                    isSubmitted &&
                    f.registrationNumber.errors &&
                    f.registrationNumber.errors.required
                  "
                  >registration number is required</span
                >
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="login-form">
              <input
                formControlName="purchaseDate"
                matInput
                [matDatepicker]="picker"
                placeholder="Data zakupu"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #picker></mat-datepicker>
            </mat-form-field>
            <mat-error>
              <span
                *ngIf="
                  isSubmitted &&
                  f.purchaseDate.errors &&
                  f.purchaseDate.errors.required
                "
                >select Date</span
              >
            </mat-error>
          </td>
        </tr>
        <button mat-raised-button color="accent">Dodaj</button>
      </table>
    </form>
    <mat-spinner [style.display]="isLoading ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>
