.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 800px;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}

.element-row {
  position: relative;
}

.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}
