<mat-form-field>
  <input
    matInput
    (keyup)="applyFilter($event.target.value)"
    placeholder="Filter"
  />
</mat-form-field>

<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email użytkownika</th>
      <td mat-cell *matCellDef="let row">{{ row.user.email }}</td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef>Model samochodu</th>
      <td mat-cell *matCellDef="let row">{{ row.car.model }}</td>
    </ng-container>

    <ng-container matColumnDef="registrationNumber">
      <th mat-header-cell *matHeaderCellDef>Rejestracja</th>
      <td mat-cell *matCellDef="let row">{{ row.car.registrationNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="deleteCrash(element.id)">
          <mat-icon class="mat-18">delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      matRipple
      class="element-row"
      [cdkDetailRow]="row"
      [cdkDetailRowTpl]="tpl"
    >
    </mat-row>
  </mat-table>
  <mat-paginator
    [pageSizeOptions]="[5, 10]"
    showFirstLastButtons
  ></mat-paginator>
</div>

<ng-template #tpl let-element>
  <div class="mat-row detail-row" [@detailExpand] style="overflow: hidden">
    <mat-card>
      {{ element.description }}
    </mat-card>
  </div>
</ng-template>
