<mat-card>
  <mat-card-header>
    <mat-card-title>Wypożyczalnia samochodów</mat-card-title>
    <mat-card-subtitle>Logowanie</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <table class="login-form">
        <tr>
          <td>
            <mat-form-field class="login-form">
              <input
                matInput
                id="phone"
                placeholder="Phone"
                formControlName="phone"
              />
              <mat-error>
                <span
                  *ngIf="
                    isSubmitted && f.phone.errors && f.phone.errors.required
                  "
                  >Phone is required</span
                >
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="login-form">
              <input
                matInput
                id="password"
                placeholder="Password"
                type="password"
                formControlName="password"
              />
              <mat-error>
                <span
                  *ngIf="
                    isSubmitted &&
                    f.password.errors &&
                    f.password.errors.required
                  "
                  >Password is required</span
                >
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <button mat-raised-button color="accent">Zaloguj się</button>
      </table>
    </form>
    <mat-spinner [style.display]="isLoading ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <a routerLink="/register">Rejestracja</a>
  </mat-card-actions>
</mat-card>
