<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker
    *ngFor="let p of parkings; let i = index"
    [latitude]="p.latLngX"
    [longitude]="p.latLngY"
    [label]="p.name"
  >
    <agm-info-window>
      <p>Nazwa: {{ p.name }}</p>
      <p>ID: {{ p.id }}</p>
      <p>Status: {{ p.status }}</p>
      <p>Liczba miejsc: {{ p.parkingSpaces }}</p>
      <p>Wolnych: {{ p.freeSpace }}</p>
      <button mat-raised-button color="primary" (click)="deleteParking(p.id)">
        Usuń
      </button>
    </agm-info-window>
  </agm-marker>
</agm-map>