/* You can add global styles to this file, and also import other style files
@import  url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
    background: #456;
    font-family: 'Open Sans', sans-serif;
} */
/* @import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css"; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  margin: 0;
  height: 100%;
}

.mat-card {
  text-align: -webkit-center;
}

.login-form {
  width: 100%;
}

mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}
.content-center {
  text-align: -webkit-center;
}
