<mat-card>
  <mat-card-header>
    <mat-card-title>Wypożyczalnia samochodów</mat-card-title>
    <mat-card-subtitle>Rejestracja</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <table class="login-form">
        <tr>
          <td>
            <mat-form-field class="login-form">
              <input
                matInput
                id="name"
                placeholder="First name"
                formControlName="name"
              />
              <mat-error>
                <span
                  *ngIf="isSubmitted && f.name.errors && f.name.errors.required"
                  >First Name is required</span
                >
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="login-form">
              <input
                matInput
                id="surname"
                placeholder="Last name"
                formControlName="surname"
              />
              <mat-error>
                <span
                  *ngIf="
                    isSubmitted && f.surname.errors && f.surname.errors.required
                  "
                  >Last Name is required</span
                >
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="login-form">
              <input
                matInput
                id="email"
                placeholder="Email"
                formControlName="email"
              />
              <mat-error>
                <span
                  *ngIf="
                    isSubmitted && f.email.errors && f.email.errors.required
                  "
                  >Email is required</span
                >
                <span
                  *ngIf="isSubmitted && f.email.errors && f.email.errors.email"
                  >Invalid email</span
                >
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="login-form">
              <input
                matInput
                id="phone"
                placeholder="Phone"
                formControlName="phone"
              />
              <mat-error>
                <span
                  *ngIf="
                    isSubmitted && f.phone.errors && f.phone.errors.required
                  "
                  >Phone is required</span
                >
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="login-form">
              <input
                matInput
                id="password"
                placeholder="Password"
                type="password"
                formControlName="password"
              />
              <mat-error>
                <span
                  *ngIf="
                    isSubmitted &&
                    f.password.errors &&
                    f.password.errors.required
                  "
                  >Password is required</span
                >
                <span
                  *ngIf="
                    isSubmitted &&
                    f.password.errors &&
                    f.password.errors.minlenght
                  "
                  >Password must be at least 8 characters</span
                >
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="login-form">
              <input
                matInput
                id="confirmPassword"
                placeholder="Confirm password"
                type="password"
                formControlName="confirmPassword"
              />
              <mat-error>
                <span
                  *ngIf="
                    isSubmitted &&
                    f.confirmPassword.errors &&
                    f.confirmPassword.errors.required
                  "
                >
                  Confirm password is required
                </span>
                <span
                  *ngIf="
                    isSubmitted &&
                    f.confirmPassword.errors &&
                    f.confirmPassword.errors.mustMatch
                  "
                  >Passwords must match</span
                >
              </mat-error>
            </mat-form-field>
          </td>
        </tr>

        <button mat-raised-button color="accent">Zarejestruj się</button>
      </table>
    </form>
    <mat-spinner [style.display]="isLoading ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <a routerLink="/login">Cancel</a>
  </mat-card-actions>
</mat-card>
